<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>NOT FOUND</title>
    <style>
      body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
      }

      h1 {
        font-size: 5em;
        color: yellow;
      }
    </style>
  </head>
  <body>
      <h1>{{filename}} NOT FOUND</h1>
  </body>
</html>
