<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Files list</title>
  </head>
  <body>
    <ul class="people_list">
      {{#each images}}
        <li>
          <a href="/image/{{this}}">{{this}}</a>
        </li>
      {{/each}}
    </ul>
  </body>
</html>
